
    <br>
      <mat-divider></mat-divider>
      <table style="background: #B2DFDB;" mat-table [dataSource]="inventories" class="mat-elevation-z8">
        <ng-container matColumnDef="productid">
          <th style="text-align: center;font-weight: bold" mat-header-cell *matHeaderCellDef>PRODUCT ID</th>
          <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.productId}} </td>
        </ng-container>
        <ng-container matColumnDef="prodName">
            <th style="text-align: center;font-weight: bold" mat-header-cell *matHeaderCellDef>PRODUCT NAME</th>
            <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.prodName}} </td>
        </ng-container>
        <ng-container matColumnDef="stock">
            <th  style="text-align: center;font-weight: bold" mat-header-cell *matHeaderCellDef>In Stock</th>
            <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.availablestock}} </td>
        </ng-container>

        <ng-container matColumnDef="threshold">
            <th style="text-align: center;font-weight: bold" mat-header-cell *matHeaderCellDef>THRESHOLD</th>
            <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.threshold}} </td>
        </ng-container>
        <ng-container matColumnDef="shelfIds">
                <th style="text-align: center;font-weight: bold" mat-header-cell *matHeaderCellDef>Shelf Ids</th>
                <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.shelfId}} </td>
            </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    
  