<mat-toolbar>
        <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/']">Product Inventory</button>
            <button mat-menu-item [routerLink]="['/inventory']">Inventory Details</button>
            <button mat-menu-item [routerLink]="['/updateInventory']">Update Inventory</button>
        </mat-menu>
        <span>Inventory System</span>
</mat-toolbar>
<div>
<router-outlet></router-outlet>

</div>
